<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benockert.numadsp22_quester_final_project" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT "/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMADSp22_Quester_Final_Project" >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.benockert.numadsp22_quester_final_project.PhotoRecap.ViewRecap"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name=".myQuests.MyQuestsActivity"
            android:exported="false">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${MAPS_API_KEY}" />
        </activity>
        <activity
            android:name=".PastQuests.PastQuests"
            android:exported="false" />
       <activity
            android:name=".PhotoRecap.ViewAllRecaps"
            android:exported="false" />
        <activity
            android:name=".PhotoRecap.ViewRecap"
            android:exported="false" />
        <activity
            android:name=".Templates.ChoosePhotos"
            android:exported="false" />
        <activity
            android:name=".Templates.ChooseTemplate"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>